<footer>
 <section class="footer-section">
	<div class="overview">
	 <h3>Overview</h3>
	 <p>Founded in 2014 with 31 members, Janashakti SACCOS has grown to serve over 5,000 members across six local bodies in Jhapa. Rooted in community and trust, we provide savings and credit services that empower individuals, strengthen families, and promote sustainable financial security.</p>
	</div>
	<div class="quick-links">
	 <h3>Quick Links</h3>
	 <a href="#" target="_blank" rel="noopener noreferrer">Our Annual Calendar<i class="fas fa-external-link-alt"></i></a>
	 <a href="https://ncra.gov.np/" target="_blank" rel="noopener noreferrer">NCRA<i class="fas fa-external-link-alt"></i></a>
	 <a href="https://www.deoc.gov.np/" target="_blank" rel="noopener noreferrer">Department of Cooperative<i class="fas fa-external-link-alt"></i></a>
	 <a href="https://copomis.gov.np/" target="_blank" rel="noopener noreferrer">COPOMIS<i class="fas fa-external-link-alt"></i></a>
	 <a href="https://goaml.fiu.nrb.org.np/PRD/content/#/home" target="_blank" rel="noopener noreferrer">goAML<i class="fas fa-external-link-alt"></i></a>
	 <a href="https://www.nrb.org.np/" target="_blank" rel="noopener noreferrer">Nepal Rastra Bank(NRB)<i class="fas fa-external-link-alt"></i></a>
	 <a href="https://ncbl.coop/" target="_blank" rel="noopener noreferrer">NCBL<i class="fas fa-external-link-alt"></i></a>
	</div>
	<div class="contact-info">
	 <h3>Contact Us</h3>
	 <p><i class="fas fa-map-marker-alt"></i>Bhadrapur Road, Birtamod-4, Jhapa, Nepal</p>
	 <p><i class="fas fa-phone-alt"></i>+977-23-533344</p>
	 <p><i class="fas fa-envelope"></i><a href="mailto:janashakticoop2014@gmail.com">janashakticoop2014@gmail.com</a></p>
	 <div class="social-icon">
		<p>Follow us:</p>
		<a href="https://www.facebook.com/jsaccosbirtamod" target="_blank" class="social-icon facebook" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
		<a href="https://www.twitter.com" target="_blank" class="social-icon twitter" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
		<a href="https://www.youtube.com/@JanashaktiSaccos" target="_blank" class="social-icon youtube" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
	 </div>
	</div>
 </section> 
 <div class="copyright">
	<p>&copy; 2026 Janashakti Saving And Credit Cooperative Society Ltd. All rights reserved.</p>
	<p class="credits">
	 Designed & Developed by: <a href="https://www.linkedin.com/in/kiranj-deep-yonghang-b77778289/" target="_blank" aria-label="LinkedIn-Profile">Kiranj Deep Yonghang</a>
	</p>
 </div>
</footer>


